/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Styles */
body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    color: #333;
    line-height: 1.6;
    padding-bottom: 50px;
}

header {
    background: black;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Sections */
section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

/* Projects */
.project img {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

button {
    padding: 10px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

/* Footer */
footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
}
